<!--<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="anuncios" class="nav-link">Anuncios</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Anunciar</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <h2>{{ title }}</h2>
    <router-outlet></router-outlet>
  </div>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="first">

  <div class="container-fluid">
      <div class="navbar-header">
          <a href="https://www.jamsoft.com.br/" target="_blank" rel="noreferrer noopener" >
              <img src="{{ logo }}" alt="" class="img-respondive" style="max-height: 50px">
          </a>
      </div>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-nav">
              <a class="nav-item nav-link active" routerLink="anuncios" style="color: red;"> Início <span class="sr-only"></span></a>
              <a class="nav-item nav-link" routerLink="add">Anunciar</a>
              <!-- <a class="nav-item nav-link" routerLink="">Sobre Nós</a> -->
          </div>
      </div>

      <form class="d-flex" role="search">
          <input style="border: solid red 1px;" class="form-control" type="text" placeholder="Pesquisar string" [(ngModel)]="search" name="search">
          <button class="btn btn-outline-danger" type="submit" style="margin-left: 2px;" (click)="compareStrings()">Buscar</button>
      </form>
      


  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
